{% extends "!page.html" %}

{% set css_files = css_files + ['_static/media_query.css'] %}

{% block linktags %}
  <link rel="author" href="https://plus.google.com/100964621288433828323"/>
  <link rel="canonical" href="{{ website }}{{ pagename }}.html"/>
{% endblock %}

{% block extrahead %}
  <script>
  (function () {
    var url = '{{ website }}',
        matches = url.match(/^https?\:\/\/([^\/?#]+)(?:[\/?#]|$)/i),
        host = matches && matches[1];

    if ((host == window.location.host) && (window.location.protocol != "https:")) {
      window.location.protocol = "https";
    }
  })();
  </script>
{% endblock %}

{% set script_files = script_files + ["_static/google_analytics.js"] %}
